{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% block content %}

<body>
    <h2 class="display-4">Войти</h2>
    <form id="sign_in_form" class="container" action="/sign_in" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" autocomplete="off" required>
      </div>
      <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" class="form-control" autocomplete="off" required>
      </div>
      <button type="submit" id="submit_btn" class="btn btn-primary">Войти</button>
    </form>
</body>
{% endblock %}
